{% extends 'myapp/base.html' %}

{% block content %}

<h1>{{post.title}}</h1>
<br>
<a class="button is-primary" href="{% url 'myapp:create' post.pk %}">投稿する</a>
<br>
<br>

{% for item in post.post_comment_set.all %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ item.comment}}</h5>
        <p class="card-text">({{ item.created_at | date:"Y/m/d H:i:s" }})</p>
        <a href="{% url 'myapp:update' item.pk %}">編集</a>
    </div>
    _
</div>
{% endfor %}
</div>

{% endblock %}